@model SP.Labo.Web.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "プロファイルの登録";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <br />
    <h2>@ViewBag.ProviderDisplayName アカウントに対応するプロファイルを登録します。</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>プロファイル登録フォーム</legend>
        <p>
            <strong>@ViewBag.ProviderDisplayName アカウント</strong>は正常に認証されました。<br />
            続いて、このサイトで使用するユーザー名を入力し、[確認] ボタンを押してください。<br />
            プロファイルを登録することでログインが完了します。
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="登録" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
