@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <!--
                <h1>@ViewBag.Title.</h1>
                -->
                <h2>いろいろやってみる</h2>
            </hgroup>
            <p>
                機能検証のためのサンプルコードをさらしています。
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h3>@Html.ActionLink("Web APIを使ってみる", "index", "R1webapi")</h3>
        MVC4で追加されたWeb APIを使ってみる<br />
        これを利用するシーンはどこか？
    </li>

    <li class="two">
        <h3>@Html.ActionLink("CSSフレームワークを導入してみる", "index", "R2CSS")</h3>
        CSSは人任せになっていて<br />
        こちらの手抜きでCSSに負担かけていることがあるかもしれない<br />
        逆にCSSを知っていればもっと上手に手抜きできることもあるだろう<br />
        いずれにしても、それはコード、それはCSSと簡単に役割を切り離せるものでなくなってきている<br />
        最近流行りのレスポンシブって何？も探っておきたい。
    </li>

    <li class="three">
        <h3>@Html.ActionLink("OAuthでログインしてみる", "index", "R3OAuth")</h3>
        ユーザーの管理は重たい仕事だ。<br />
        パスワードの管理だけでもアウトソーシングできれば越したことはない。<br />
        MVC4で追加された支援機能をチェックしておく。
    </li>

    <li class="four">
        <h3>@Html.ActionLink("Sitemapを追加する", "index", "R4Sitemap")</h3>
        どのサイトにも必要なものだし<br />
        階層の深いページから親どの階層へも瞬時に戻れるのは便利だし<br />
        サイト構造を常に確認する意味もある<br />
    </li>
@*    
*@
</ol>
